@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    max-width: 1420px;
    margin: 0 auto;
}

/* headerSection */
/* .headerSection{
    display: flex;
    padding-top: 35px;
    justify-content: ;
    margin-bottom: 15px;
}
.loguSection h2{
font-size: 30px;
}
.menuSection button{
    padding:12px 30px;
    color: #006a50;
    border: 2px solid #006a50;
    background-color: #f5f5f5;
    font-size: 18px;
    font-weight: 600;
    border-radius: 9px;
} */

/* bannerSection */
.bannerSection{
    display: flex;
    align-items: center;
    background-color: #c6e4d6;
    margin: 0 auto;
    padding: 35px;
    border-radius:11px;

}
.bannerContent{
    background-color: #c6e4d6;
    width: 520px;
}
.bannerContent button{
    background-color: #006a50;
    padding: 12px 30px;
    font-size: 19px;
    border: none;
   border-radius: 9px;
   color: white;
   margin-top: 14px;
}
.bannerContent h1{
    font-size: 50px;
    font-family: fira san;
}
.bannerContent h5{
    font-size: 21px;
    color: #6a7972;
}

/* pilliars of bangladesh */

.skill-heading{
    width: 1055px;
    margin: 0 auto;
}
.skill-heading p{
  text-align: center;
  width: 750px;
  color: rgb(140, 145, 149);
  font-size: 18px;
}
.skillSection{
    margin-top: 100px;
}
.skill-heading h1{
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}
.skill-items{
    display: flex;
    justify-content: space-between;
    
    margin: 0 auto;
    width: 1560px;
    margin-top: 50px;
}
.skill-item{
    width: 305px;
    box-shadow:0px 0px 0px 0px #ffffff;
    box-shadow: 0px 6px 50px 0px #eae3e3;
    padding: 20px;
    height: 200px;
    margin: 0px -15px 0px -15px;
    border-radius: 13px;
}
.skill-item h1{
    margin: 12px 0px;
    
}
.skill-item p{
    color: rgb(140, 145, 149);
    font-size: 19px;
}
.skillshead .headofskill{
    margin: 30px 0px -20px 0px;
    font-size: 47px;
}


/* visionofFuture */
.visionofFutureheading {
   margin: 0 auto; 
   margin-top: 50px;
   
}
.visionofFutureheading h1{
    font-size: 48px;
}
.visionofFutureheading  p{
    font-size: 19px;
    color: #676767;
    margin-top: 20px;
}
.visionItems{
    display: flex;
    margin-top: 60px;
    gap: 20px;
    justify-content: space-around;
}
.vision-item1,.vision-item {
    background-color: #d5e1f5;
    padding: 20px;
    border-radius: 12px;
    width: 500px;
    height: 270px;
}
.vision-item2{
    background-color: #c6e4d6;
    padding: 20px;
    border-radius: 12px;
    width: 500px;
    height: 270px;
}
.vision-item3{
    background-color: #f7ebcf;
    padding: 20px;
    border-radius: 12px;
    width: 500px;
    height: 270px;
}
.vision-item button{
    padding: 12px 24px;
    background-color: #5490f5;
    color: #ffffff;
    border-radius: 12px;
    border: none;
    
    font-size: 18px;
   
}
.vision-item button:hover{
    padding: 12px 24px;
    background-color: #54d8f5;
    color: #0f0d0d;
    border-radius: 12px;
    border: none;
    transition: .6s;
    font-size: 18px;
    
}
.vision-item h3{
    font-size: 30px;
    margin-bottom: 16px;
    margin-top: 12px;
}
.vision-item p{
    font-size: 18px;
    margin-bottom: 16px;
    color: #4a4d53;
}

/* recentNews sectrion */
.recentNews{
    margin-top: 40px;
}
.recentNews h1{
    font-size: 48px;
}
.newsItems{
    display: flex;
    margin-top: 50px;
    gap: 25px;
    padding: 26px;
    

}

    

.items-content img{
    margin-bottom: 30px;
   
}

.newa-item img{
border-radius: 13px;
}

.items-content h2{
    font-size: 32px;
    margin-top: 12px;
}
.items-content .np1,.np2{
    font-size: 20px;
    margin-bottom: 20px;
    color: #565656;
}
.items-content button{
    padding: 12px 26px ;
    background-color:#006a50 ;
    color: #f5f5f5;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    font-size: 18px;
}
.items-content button:hover{
    padding: 12px 26px ;
    background-color:#54d8f5 ;
    color: #000000;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    transition: .5s;
}
.newsitems2{
    box-shadow: 0px 6px 50px 0px #eae3e3;
    border-radius: 12px;

}


/* donate secton */
.donatesection{
    margin-top: 50px;
    /* box-shadow: 0px 6px 50px 0px #eae3e3; */
}
.donatehed{
    margin: 30px;
}
.donateHeading{
    width: 850px;
    margin: 0 auto;
    text-align: center;
}
.donatesection2{
    display: flex;
}
.donatesection2 .box button{
    padding: 22px 30px;
    border: none;
    box-shadow: 0px 6px 50px 0px #eae3e3;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 35px;
    margin-bottom: 30px;
   
}
.donatesection2 .box button:hover{
    padding: 22px 30px;
    border: none;
    box-shadow: 0px 6px 50px 0px #eae3e3;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 35px;
    margin-bottom: 30px;
    background-color:#54d8f5 ;
    color: #000000;
    transition: .5s;
   
}
.donatelceBtn{
background-color: #0f0d0d;
}
#donateInput{
    width: 1250px;
    margin:  0 auto;
    height: 45px;
    text-align: center;
    box-shadow: 0px 6px 50px 0px #eae3e3;
    border: none;
    border-radius: 8px;
    margin: 10px 0px 20px 81px ;
    
}
.donateButton{
    padding: 12px 26px ;
    background-color:#006a50 ;
    color: #f5f5f5;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    font-size: 18px;
   
}
.donateButton:hover{
    padding: 12px 26px ;
    background-color:#54d8f5 ;
    color: #000000;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    transition: .5s;
}
.donateButton {
    text-align: center;
    margin-left: 644px;
   
  
}

/* subscribeContent */
.subscribe{
    background-color: #c6e4d6;
    border-radius: 12px;
}
.subscribeContent{
    text-align: center;
    margin-top: 45px;
    width: 800px;
    padding: 35px 0px;
}
.subsH1p{
    width: 500px;
    margin-bottom: 30px;
}
.subscribeContent h1{
    font-size: 38px;
    margin-bottom: 13px;
}
.subscribeContent p{
    color: #5d6a64;
}
.subscribeContent input{
    width: 500px;
    height: 30px;
    border: none;
    box-shadow: 0px 6px 50px 0px #eae3e3;
    border-radius: 6px 0px 0px 6px;
}
.subscribeContent button{
    padding: 9px 40px;
    background-color: #006a50;
    border-radius: 0px 6px 6px 0px;
    border: none;
    margin-right: -10px;
    color: white;
}
.subsp2{
    margin-top: 12px;
}

/* foterSection */
.foterSection{
    text-align: center;
    margin-top: 45px;
    box-shadow: 0px 6px 50px 0px #eae3e3;
    border-radius: 10px;
 

}
.foterHeading h3{
    padding: 20px;
   
}
.foterimg img{
    padding: 10px 2px 45px 2px;
}
.foterHeading p{
    border-bottom: 1px solid #e7e7e7;
    margin-top: 15px;
    width: 1210px;
    margin-bottom: 10px;
    margin: 0 auto;
}